PORT=4317
AFTERSHOCK_DATA_DIR=.data
AFTERSHOCK_EXECUTOR=local
AFTERSHOCK_RECEIPT_PATH=artifacts/feasibility/apm-wasmer-receipt.json
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=
AFTERSHOCK_PUBLISH_GITHUB=0
TENKI_API_KEY=
